@using ForumModels;

@{
    var users = (IEnumerable<User>)PageData[0];
    var f = (Func<User, Scores>)PageData[1];
    string panelTitle = (string)PageData[2];
}

<div class="panel panel-default">
    <div class="panel-heading"><h2>@panelTitle</h2></div>

    <table class="table">
        <thead>
            <tr class="lead">
                <th></th>
                <th></th>
                <th>MSDN</th>
                <th>StackOverflow</th>
                <th>Total</th>
            </tr>
        </thead>
        @foreach (var user in users.OrderByDescending(f))
        {
            Scores scores = f(user);
            if (scores.Total == 0) { continue; };

            <tr class="lead">
                <td><img src="https://i1.social.s-msft.com/profile/u/avatar.jpg?displayname=@user.MSDNName&size=large" /></td>
                <td>@user.Name</td>
                <td><a href="https://social.msdn.microsoft.com/Profile/@user.MSDNName/activity">@scores.MSDN</a></td>
                <td><a href="http://stackoverflow.com/users/@user.StackOverflowID?tab=reputation">@scores.StackOverflow</a></td>
                <td>@scores.Total</td>
            </tr>
        }
    </table>
</div>
